<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Microblog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="navbar">
    <div class="navbar__brand">
        <img  class="navbar__logo" src="/static/blog_01.svg" alt="The Microblog Logo"/> Microblog
    </div>
</header>
<main class="main">
    <section>
        <h1>About Microblog</h1>
        <p>
            Mircorblog is a platform to provide user with a simple and effcient way to share their thougths, stories and experiences. Our Microbloging service is tailered to meet the following key features:
        </p>
        <ul>
            <li>
                <strong>User-Friendly Interface:</strong>
                <p>
                    Enjoy a clean and intutive interface that allows users to easily navigated and interact with the platform.
                    <img src="/static/images/user_interface.jpg" alt="User-Friendly Interface" class="feature-image">
                </p>
            </li>
            <li>
                <strong>Secure Registration:</strong>
                <p>
                    We priortize the security of users. Register with confidence, knowing that your information is protectex.
                    <img src="/static/images/secure_registration.jpg" alt="Secure-Registartion" class="feature-image">
                </p>
            </li>
            <li>
                <strong>Personlized Profile:</strong>
                <p>
                    Personlize your profile with details such as your name, username, and unique profile picture.
                    <img src="/static/images/personalized_profiles.jpg" alt="Personlized Profile" class="feature-image">
                </p>
            </li>
            <li>
                <strong>Blog Creation:</strong>
                <p>
                    Create and share your microblogs effortlessly. Share your thoughts and stories with the Microblog community.
                    <img src="/static/images/blog_creation.jpg" alt="Blog Creation" class="feature-image">
                </p>
            </li>
            <li>
                <strong>Real-Time Update</strong>
                <p>
                    Stay connected with real -time updates from your favorioute authors. So Follow your author and never miss a post.
                    <img src="/static/images/real_time_updates.jpg" alt="Real Time Update" class="feature-image">
                </p>
            </li>
            <li>
                <strong>Responsive Design</strong>
                <p>
                    Access Microblog from various devices with our responsive UI, ensure seamless expericens on desktop, mobile and tablets.
                    <img src="/static/images/responsive_design.jpg" alt="Responsive Design" class="feature-image">
                </p>
            </li>
        </ul>
    </section>
</main>

<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <div>
                <a class="footer__item" href="/user_page">{{user}}</a>
            </div>
        </section>
        <section class="right">
            <div>
                <a class="footer__item" href="/">Home</a>
            </div>
        </section>
    </div>
</footer>
</body>
</html>