<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{entry['title']}} - Microblog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="navbar">
    <div class="navbar__brand">
        <img  class="navbar__logo" src="/static/blog_01.svg" alt="The Microblog Logo"/> Microblog
    </div>
    <ul class="navbar__navigation">
            <li class="navbar__navigation-item">
                <a href="{{url_for('logout')}}" class="navbar__link">Log Out</a>
            </li>
    </ul>
</header>
<main class="main">
    <section>
        <article class="entry">
            <div>
                <h2 class="entry__title">{{entry['title']}}</h2>
            </div>
            <p class="entry__content">{{entry['content']}}</p>
            <div>
                <a class="entry__author" href="{{url_for('user_profile', username=entry['username'])}}"><h3>Authored by {{entry['author']}}</h3></a>
            </div>

        </article>
    </section>
</main>

<footer class="footer">
    <div class="footer__content">
        <section class="left">
            <div>
                <a class="footer__item" href="/">Home</a>
            </div>
        </section>
        <section class="right">
            <div>
                <a class="footer__item" href="/about">About Microblog</a>
            </div>
        </section>
    </div>
</footer>
</body>
</html>